<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro de Usuario</title>
</head>
<body>
	<h2>Adicionar Usuario</h2>
	
	<a href="javascript:history.back()">Voltar</a>
	
	<hr>
	<div>
		<form action="/Usuario/ListaDeUsuarios" th:object="${User}" th:action="@{/Usuario/saveEdit/{id}(id = ${id})}" method="post">


			<div>
				<label>Nome:</label>
				<div>
					<input type="text" name="nome" th:field="*{nome}"/>
				</div>
			</div>
			<div>
				<label>Email:</label>
				<div>
					<input type="text" name="email" th:field="*{email}"/>
				</div>
			</div>

			<div>
				<label>CPF:</label>
				<div>
					<input type="text" name="cpf" th:field="*{cpf}"/>
				</div>
			</div>

			<div>
				<label>Numero:</label>
				<div>
					<input type="text" name="numero" th:field="*{numero}"/>
				</div>
			</div>

			<div>
				<label>Idade:</label>
				<div>
					<input type="text" name="idade" th:field="*{idade}"/>
				</div>
			</div>

			<div>
				<button type="submit">Atualizar</button>
			</div>
		</form>
	</div>

</body>
</html>